{% extends '@Article/base.html.twig' %}

{% block title %}Create post{% endblock %}

{% block body %}

    {{ breadcrumbAdd('Post', '/article') }}
    {{ breadcrumbAdd('Create', '/article/create') }}

    <h3>
        Create post
    </h3>

{% endblock %}